@charset "UTF-8";
/* Media Queries - Tablette */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media (min-width: 768.1px) {
  header h2 {
    font-size: 40px;
  }
  /* main pages-restaurants */
  main .menu-principal {
    margin: 0% 10% 0% 10%;
    padding-left: 17%;
    padding-right: 17%;
  }
  /* img */
  .img-menu {
    height: 380px;
  }
  /* footer */
  footer {
    display: none;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer-container .footer-container-bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-container .container-bloc {
    display: flex;
    align-items: center;
  }
  .footer-container .footer-bloc__text {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }
  .footer-container .footer-bloc__link,
  .footer-container .footer-bloc__text {
    padding-right: 15px;
  }
  .footer-container h1 {
    padding-left: 60px;
  }
}
/* Media Queries - Desktop */
@media (min-width: 1024.1px) {
  main .fonctionnement-container,
  main .Restaurants-container,
  main .main-title {
    margin: 0% 10% 0% 10%;
  }
  main .fonctionnement-container .fonctionnement-card,
  main .Restaurants-container .fonctionnement-card,
  main .main-title .fonctionnement-card {
    flex-direction: row;
  }
  main .Restaurants-container {
    row-gap: 50px;
    column-gap: 100px;
  }
  /* aside */
  .Restaurants-container {
    flex-wrap: wrap;
  }
  .Restaurants-container .carte {
    width: 33%;
  }
}
/* Variables de font */
/* Variables de taille de police */
:root {
  --font-size-h1: 34px;
  --font-size-h2-3: 24px;
  --font-size-h4: 18px;
  --font-size-body: 16px;
  --font-size-main-h1: 28px;
  --font-size-aside: 17px;
  --font-size-footer-h1: 18px;
  --font-size-menu-h3: 16px;
}

/* Font-family */
body {
  font-family: "roboto";
}

h1 {
  font-family: "Shrikhand";
}

/* Font-size */
h1 {
  font-size: var(--font-size-h1);
  font-weight: 400;
}

h2,
h3 {
  font-size: var(--font-size-h2-3);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 700;
}

/* Header bloc-text P */
header p {
  font-size: var(--font-size-h4);
  font-weight: 300;
}

.carte-text p {
  font-size: var(--font-size-aside);
  font-weight: 300;
}

.btn_menu p {
  font-size: 15px;
  color: #423f3f;
  font-weight: 300;
}

/* Main */
main,
nav,
.input,
p {
  font-size: var(--font-size-body);
  font-weight: 500;
}

.main h1 {
  font-size: var(--font-size-main-h1);
}

main .menu-principal h1 {
  font-size: var(--font-size-h2-3);
}

/* Footer */
footer h1 {
  font-size: var(--font-size-footer-h1);
}

/* Pages */
menu h3 {
  font-size: var(--font-size-menu-h3);
  font-weight: 300;
  text-transform: uppercase;
}

img {
  height: 280px;
  object-fit: cover;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.Restaurants-container .carte img {
  border-radius: 15px 15px 0px 0px;
  height: 160px;
}

body {
  margin: 0px;
}

.circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 24.273px;
  height: 24.545px;
  left: -9px;
  font-size: 14.182px;
  border-radius: 24px;
}

.badge {
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

aside {
  margin-bottom: 66px;
}

/* bouton */
.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* amination coeur */
.carte-text {
  margin-left: 10px;
}
.carte-text h4 {
  margin-top: 12px;
  margin-bottom: 5px;
}
.carte-text p {
  margin-top: 5px;
}

.main-title {
  margin-left: 12px;
}

.fonctionnement-container {
  margin-left: 12px;
  margin-right: 12px;
}

.badge {
  z-index: 3;
  position: absolute;
}

header {
  z-index: 2;
  position: relative;
}

.menu-principal {
  position: relative;
  z-index: 1;
}

img {
  z-index: 0;
  position: relative;
}

.circle {
  position: absolute;
}

.card {
  position: relative;
}

.carte {
  position: relative;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
header .title {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  width: 100%;
}

nav a {
  display: flex;
  justify-content: space-between;
}

.localisation {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
}

.container-title {
  display: flex;
  align-items: center;
}

.nav-title-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  flex-grow: 1;
  text-align: center;
}

footer {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 30px;
}

footer a {
  color: var(--white);
}

.footer-container-bloc {
  display: flex;
  flex-direction: column;
}

footer .fa-solid,
.footer-bloc__link {
  padding-right: 10px;
}

.footer-bloc__link {
  display: flex;
}

.footer-bloc__text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.footer-bloc__link,
.footer-bloc__text {
  padding-right: 15px;
  color: var(--white);
}

/* main */
.fonctionnement-card {
  display: flex;
  flex-direction: column;
  column-gap: 25px;
}

.card {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 73px;
  column-gap: 17px;
  margin-bottom: 17px;
  padding-left: 32px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/* aside */
.carte {
  width: 100%;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.carte-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_icon { /* container de l'icone du coeur */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Style pour les boutons de remplissage dans l'icône de menu */
.fill-btn { /* la classe = .fill-btn  contient et anime le clip-path de l'icone coeur  */
  overflow: hidden;
  position: relative;
  /* Applique le clip-path de l'icone coeur défini par l'élément <clipPath> 
    référencé dans le code SVG */
  clip-path: url(#menu_icon-svg-path);
  /* dimension du coeur correspondant a la maquette  */
  height: 90px;
  width: 90px;
  transform: scale(0.35);
}

#fill-btn-path,
#fill-btn-path1,
#fill-btn-path2,
#fill-btn-path3 {
  fill: none;
  stroke: rgb(128, 128, 128); /* Couleur contour coeur */
  stroke-width: 0.5rem; /* Largeur contour coeur */
}

/* Style pour l'arrière-plan radial */
.radientBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  background: linear-gradient(#FF79DA 0%, #9356DC 80%);
  transform: translateY(100px); /* Décale l'arrière-plan vers le bas */
  transition: transform 0.7s ease-out; /* Ajoute une transition fluide à l'arrière-plan */
}

.fill-btn:hover .radientBg {
  transform: translateY(0); /* Replace l'arrière-plan à sa position d'origine lors du survol */
}

.button {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 235px;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 8px 10px -5px grey;
}
.button p {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
.button:hover {
  opacity: 0.85;
  transition: opacity 0.3s ease;
} /* @import "composants/bouton.scss"*/
.localisation .input {
  border: none;
  height: 80%;
  font-weight: 500;
  width: 134px;
}

main .menu_title {
  margin-left: 15px;
}
main .menu-principal {
  z-index: 1;
  margin-top: -59px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 30px 30px 0px 0px;
}

.titre_choix_menu {
  display: flex;
  align-items: flex-start;
  width: 5%;
  padding-bottom: 10px;
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
}

.titre_choix_menu:hover {
  width: 90%;
}

.menu_title,
.btn_menu .btn_menu_check,
.btn_menu .fa-check,
.btn_menu .fa .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choix_menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow: hidden; /* Masque tout contenu dépassant de la boîte des choix de menu */
  /*   l'attribut  margin-right: -60px /et utiliser en combinasion avec la classe ".btn_menu .btn_menu_check " */
}

/* Animation keyframes nommée "effet" */
@keyframes effet {
  from {
    opacity: 0;
    transform: translateY(20px); /* Déplace l'élément de 20px vers le bas */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Remet l'élément à sa position d'origine */
  }
}
.btn_menu {
  height: auto;
  display: flex;
  justify-content: flex-start;
  border-radius: 21px;
  background-color: white;
  cursor: pointer;
  height: 73px;
  transition: all 1s ease; /* Ajoute une transition de 1 seconde à tous les changements de style */
  animation: effet 0.8s both; /* Animation "effet" pendant 0.8 seconde */
}

.btn_menu:nth-child(1) {
  animation-delay: 200ms;
}

.btn_menu:nth-child(2) {
  animation-delay: 400ms;
}

.btn_menu:nth-child(3) {
  animation-delay: 600ms;
}

.btn_menu:nth-child(4) {
  animation-delay: 800ms;
}

.btn_menu span {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding-bottom: 11px;
  margin-left: auto;
  margin-right: 20px;
}

.choix_menu p {
  white-space: nowrap; /* Le texte reste sur une seule ligne */
  overflow: hidden; /* Tout contenu dépassant sera masqué */
  text-overflow: ellipsis; /* Le texte dépassant est remplacé par  (...) */
}

/* Classe pour le bouton de menu avec l'icône de coche cachée */
.btn_menu .btn_menu_check {
  width: 60px;
  height: auto;
  margin-right: -60px; /*  margin-right: -60px /et utiliser en combinasion avec la classe ".choix_menu " 
l'attribut  overflow: hidden; / Masque tout contenu dépassant de la boîte des choix de menu */
  padding: 0;
  border-radius: 0 14px 14px 0;
  transition: margin-right 0.7s; /* Animation de transition pour le déplacement */
}

.btn_menu .fa-check,
.btn_menu .fa .fa-solid {
  background-color: var(--white);
  border-radius: 50%;
  -webkit-text-stroke-width: 1px; /* Contour autour du texte de l'icône */
  width: 29px;
  height: 29px;
  color: var(--green);
}

/* Lorsque le bouton de menu est survolé, l'icône de coche apparaît */
.btn_menu:hover .btn_menu_check {
  transition: all 1s ease;
  margin-right: 0px;
}

/* //////////////////////////////////////////////////////////// */
#loader {
  position: fixed;
  inset: 0;
  background-color: rgba(243, 248, 248, 0.9);
  height: 100vh;
  z-index: 4;
  animation: cacher 200ms forwards;
  animation-delay: 3s;
  transform-origin: top;
}

@keyframes cacher {
  to {
    transform: scale(0);
  }
}
#loader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loader .viande {
  width: 198px;
  height: 25px;
  background: #8B4513;
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, 0.1);
}

#loader .pain {
  width: 200px;
  height: 24px;
  background: #D8CB9F;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

#loader .pain-top {
  width: 200px;
  height: 35px;
  background: #D8CB9F;
  border-radius: 50% 50% 0% 0%;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

#loader .fromage {
  width: 200px;
  height: 8px;
  background: #dbbc0c;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

#loader .tomate {
  width: 200px;
  height: 14px;
  background: #c21d11;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

#loader .salade {
  width: 200px;
  height: 7px;
  background: #0dd650;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

#loader .falling-element {
  transform: translateY(-100vh);
  animation-timing-function: ease-in;
  animation: element-drop 6000ms infinite;
  position: relative;
}

#loader .falling-element:nth-child(8) {
  animation-delay: 0.4s;
}

#loader .falling-element:nth-child(7) {
  animation-delay: 0.62s;
}

#loader .falling-element:nth-child(6) {
  animation-delay: 0.84s;
}

#loader .falling-element:nth-child(5) {
  animation-delay: 1.06s;
}

#loader .falling-element:nth-child(4) {
  animation-delay: 1.28s;
}

#loader .falling-element:nth-child(3) {
  animation-delay: 1.5s;
}

#loader .falling-element:nth-child(2) {
  animation-delay: 1.72s;
}

#loader .falling-element:nth-child(1) {
  animation-delay: 1.94s;
}

/* Animation pour les éléments en chute */
@keyframes element-drop {
  0%, 100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    transform: translateY(20%) scaleY(1.2);
  }
  13% {
    transform: translateY(-30%) scaleY(0.9);
  }
  14%, 67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    transition: none; /* Annule la transition*/
    transform: translateY(-100vh) scaleY(0.7);
  }
}
/* Couleurs principales */
:root {
  --green-font: #008766;
  --green: #99e2d0;
  --black-light: #353535;
  --grey-light: #d2d2d2;
  --grey-light-bg: #f6f6f6;
  --white: #ffffff;
  --primary: #9356dc;
  --secondary: #ff79da;
}

/* Utilisation des variables */
/* Header */
header {
  background: var(--grey-light-bg);
}

main .menu-principal {
  background: var(--grey-light-bg);
}

.title {
  background-color: var(--white);
}

/* Nav */
.navbar {
  background-color: var(--white);
}

.localisation,
.input,
nav {
  width: 100%;
  background: var(--grey-light);
}

/* Footer */
footer {
  background: var(--black-light);
}

/* Font Awesome */
span,
.fa-arrow-left {
  color: var(--black-light);
}

.fa-store,
.fa-list-ul,
.fa-mobile-screen-button {
  color: var(--grey-light);
}
.fa-store:hover,
.fa-list-ul:hover,
.fa-mobile-screen-button:hover {
  color: var(--primary);
}

.fa-location-dot {
  color: var(--black-light);
}

/* Animation colors */
.radientBg,
.button {
  background: linear-gradient(var(--secondary) 0%, var(--primary) 80%);
}

.radientBg p {
  color: var(--white);
}

.circle {
  color: var(--white);
  background: var(--primary);
}

.badge {
  color: var(--green-font);
  background: var(--green);
}

/* pages - restaurants */
.btn_menu .btn_menu_check {
  color: var(--green);
  background: var(--green);
}

/* Font Awesome */
.fa-location-dot,
.fa-store,
.fa-list-ul,
.fa-mobile-screen-button {
  font-size: 22px;
}

.fa-arrow-left {
  font-size: 32px;
  padding-left: 10px;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

.Restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 20px;
  padding-bottom: 30px;
  row-gap: 20px;
}

/*# sourceMappingURL=style.css.map */
