.menu_icon { /* container de l'icone du coeur */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Style pour les boutons de remplissage dans l'icône de menu */

.fill-btn { /* la classe = .fill-btn  contient et anime le clip-path de l'icone coeur  */
  overflow: hidden;
  position: relative;
  /* Applique le clip-path de l'icone coeur défini par l'élément <clipPath> 
    référencé dans le code SVG */
  clip-path: url(#menu_icon-svg-path); 
/* dimension du coeur correspondant a la maquette  */
  height: 90px;
  width: 90px;
  transform: scale(0.35); 
}
#fill-btn-path,
#fill-btn-path1,
#fill-btn-path2,
#fill-btn-path3 {
  fill: none;
  stroke: rgb(128, 128, 128); /* Couleur contour coeur */
  stroke-width: 0.5rem; /* Largeur contour coeur */
  
}


/* Style pour l'arrière-plan radial */
.radientBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  background: linear-gradient(#FF79DA 0%, #9356DC 80%);
  transform: translateY(100px);  /* Décale l'arrière-plan vers le bas */
  transition: transform 0.7s ease-out; /* Ajoute une transition fluide à l'arrière-plan */
}

.fill-btn:hover .radientBg {
  transform: translateY(0); /* Replace l'arrière-plan à sa position d'origine lors du survol */
}
